*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.my_container{
    position: relative;
    min-width: 300px;
}
.shadow_cover{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    display: block;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
a:hover{
    color: rgb(129, 66, 223);
}
.my_container nav .nav_div,
.my_container nav .nav_div .nav_links,
.my_container nav .nav_div .nav_buttons,
section .events .event_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.my_container nav .nav_div .nav_links{
    gap: 40px;
}
.my_container nav .nav_div .nav_links a:hover{
    border-bottom: 2px solid rgb(129, 66, 223);
    transition: all .2s ease-out;
}
.my_container main{
    margin-top: -88px;
}
.my_container .main_div .main_div_content{
    flex-direction: row;
}
.my_container .main_div .filter_options .input_div{
    display: flex;
    align-items: center;
}
.my_container .main_div .mobile.nav_links{
    display: none;
}
.my_container .main_div .filter_options .input_div .bi-search{
    margin-bottom: 5px;
}
.my_container .main_div .filter_options .categories_section::before{
    display: block;
    content: "";
    width: 2px;
    height: 40px;
    background-color: rgb(237, 235, 239);
    position: relative;
    left: 20px;
}
.my_container .main_div .filter_options input{
    border: none;
    outline: none;
    padding: 10px;
}
/* section .events .each_event{
    padding: 25px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
} */
.boxes div{
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}
.boxes div:hover img,
.boxes div:hover .shadow_cover{
    scale: 1.04;
    transition: all .2s ease-in-out;
}
.boxes div:hover .shadow_cover{
    background-color: rgb(147, 83, 243,.3);
}
footer p{
    padding-top: 6px;
}
/* footer div .sub_headers{
    cursor: pointer;
    font-size: 12px;
} */
@media screen and (max-width:900px) {
    .my_container .main_div .main_div_content{
        justify-content: flex-end;
        flex-direction: column;
    }
    .my_container .main_div .main_div_content p{
        display: none;
    }
    .my_container .main_div .mobile.nav_links{
        display: flex;
        flex-direction: column;
        z-index: 2;
        gap: 10px;
    }
}

@media screen and (max-width:850px) {
    .my_container nav .nav_div .desktop.nav_links{
        display: none;
    }
    .my_container nav .nav_div .nav_links a{
        color: white;
    }
}

@media screen and (max-width:737px){
    section .events .each_event{
        justify-items: center;
        grid-template-columns: 1fr;
    }
    /* section .events .each_event .event_card{
        max-width: 400px;
    } */
}

@media screen and (max-width:550px) {
    .my_container .main_div  .filter_options{
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }
    .my_container .main_div .filter_options .input_div{
        width: 100%;
    }
    .my_container .main_div .filter_options .input_div input{
        width: 90%;
        border-bottom: 2px solid rgb(147, 83, 243);
    }
    .my_container .main_div .filter_options .categories_section::before{
        display: none;
    }
    /* .my_container nav .nav_div .nav_links{
        gap: 10px;
    } */
    section .events{
        width: 100%;
        padding: 10px 5px;
        margin-top: 15px;
    }
    .my_container .main_div .main_div_content .filter_options{
        display: none;
    }
    .my_container .main_div .mobile.nav_links{
        gap: 20px;
    }
}

@media screen and (max-width:440px){
    .my_container nav .nav_div .nav_buttons{
        display: none;
    }
}
@media screen and (max-width:400px) {
    section .events .event_header{
        flex-direction: column;
        gap: 10px;
    }
    section .events .event_header p{
        align-self: flex-start;
    }
    section .events .event_header a{
        align-self: flex-end;
    }
}
@media screen and (max-width:350px){
    footer div .footer_right_contents{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
@media screen and (max-width:230px) {
    .my_container .main_div p{
        display: none;
    }
}